* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f8f9fb;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.nav-container {
  max-width: 1280px;
  margin: auto;
  padding: 14px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 42px;
}



.nav-links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav-links a,
.dropdown-title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.nav-links a:hover,
.dropdown-title:hover {
  color: #8b0000;
}


.nav-links a.active,
.dropdown-title.active,
.dropdown-menu a.active {
  color: #8b0000;
  font-weight: 600;
}

.dropdown-menu a.active {
  background: #f5e6e6;
}



.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 36px;
  left: 0;
  width: 260px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 10px 0;
  display: none;
  z-index: 2000;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
}

.dropdown-menu a:hover {
  background: #f1f1f1;
  color: #8b0000;
}



.executive-btn {
  background: transparent;
  border: 1.5px solid #050A30;
  color: #050A30;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.executive-btn:hover {
  background: #050A30;
  color: #fff;
}

.login-btn-red {
  background: #8b0000;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-actions {
  display: flex;
  gap: 14px;
}

.caret {
  margin-left: 4px;
}



.mobile-actions {
  display: none;
}



.hamburger {
  display: none;
  width: 36px;
  height: 28px;
  position: relative;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #1f2f46;
  border-radius: 20px;
  transition: 0.35s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 11px; width: 70%; }
.hamburger span:nth-child(3) { bottom: 0; }

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 11px;
}



@media (max-width: 992px) {

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 22px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-actions {
    display: none;
  }

  .mobile-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
    width: 100%;
  }

  .mobile-btn {
    width: 100%;
    min-height: 48px;
  }

  .hamburger {
    display: block;
  }
}
